{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock title %}
{% block content %}
<h1>About</h1>
<p>This page was built by IS Jr Core Students for IS Jr Core Students.</p>
<p>Throughout their Jr. Core experience, the creators noticed a significant lack of 
    resources on specific online topics related to each of their classes. 
    This was made increasingly obvious as the creators attempted to help other 
    Jr. Core teams with difficult assignments.</p>

<p>Many times over the course of the semester other teams asked 
    the creators to point them to online resources. Each time they were asked, 
    the creators would scour the internet for good resources and come up empty-handed. 
    Eventually, they just started explaining the difficult concepts in their own words to anyone who asked.</p>

<p>
    Knowing that they wouldn’t always be available to help future IS Jr. Core students 
    and hoping to prevent future students from coming up with fruitless searches, 
    the creators built this website to serve as a resource that they hope will 
    continue to help IS students long after the creators have graduated.
</p>
{% endblock %}