{% extends 'base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock title %}
<!--
Displays our content and viewClass views
-->
{% block headingimage %}{% static classID %}{% endblock headingimage %}
{% block heading %}{{title}}{% endblock heading %}
{% block content %}
<table>
    <thead>
        <th>Author</th>
        <th>Title</th>
        <th>Class</th>
    </thead>
{% for article in data %}

<tr style="cursor: pointer;" onclick="nav('{% url "ViewArticle" articleID=article.id%}')">
    <td>{{article.author|title}}</td>
    <td>{{article.title}}</td>
    <td>{{article.classID|upper}}</td>
</tr>

{% endfor %}
</table>
<script>
    function nav(location){
        //navigate to the href provided(this will update based on the passed url so links still aren't static
        //and will change based on route names)
        //if you aren't convinced inspect the page
        window.location.href = location;
    }
</script>
{% endblock %}