{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit">Login</button>
    </form>
</div>
{% endblock content %}