{% extends 'base.html' %}
<!--
Lets us to CRUD on our list of articles.
Based on the manageArticles and manageClassArticles views
-->

{% block title %}{{title}}{% endblock title %}
{% block logout %}<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'logout' %}">Log Out</a></li>{% endblock logout %}
{% block content %}

{% if classID %}
<h1>Manage Articles for {{classID}}</h1>
{% else %}
<h1>Manage Articles</h1>
{% endif %}


{% if classID %}
<button onclick="location.href='/addArticle/{{classID}}'">Add Article</button>
{% else %}
<button onclick="location.href='/addArticle'">Add Article</button>
{% endif %}

<table class="table table-bordered">
    <th>
        <tr>

            <td>Author</td>
            <td>Title</td>
            <td>Class</td>
            <td></td>
            <td></td>

        </tr>
    </th>
    {% for article in articles %}
        <tr>
            
            <td>{{article.author|title}}</td>
            <td>{{article}}</td>
            <td>{{article.classID|upper}}</td>
            <td><button onclick="location.href='/editArticle/{{article.id}}'">Edit Article</button></td>
            
            <td>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{article.id}}" name="deleteArticleID">
                    <input type="submit" value="Delete Article">
                </form>
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}